
/* Global Classes */

.title-text {
    font-weight: bold;
    }

    .text-uppercase {
        text-transform: uppercase;
    }

    /* Buttons */

    .button {
        margin-top: 1.5rem;
        padding: .8rem 2.2rem;
        font-weight: bold;
        position: relative;
        border: 3px solid transparent;
        border-radius: 4px;
    }

    .primary-button {
        background: var(--gradient-color);
        background-clip: padding-box;
        color: whitesmoke;    
        box-shadow: var(--box-shadow);
    }

    .primary-button:hover {
        background: whitesmoke;
        background-clip: padding-box;
        color: black;
    }

    .primary-button::after, .secondary-button::after {
        position: absolute;
        top: -2px; left: -2px;
        bottom: -2px; right: -2px;
        background: var(--gradient-color);
        content:'';
        z-index: -1;
        border-radius:4px;
    }

    .secondary-button {
        background: white;
        background-clip: padding-box;
    }

    .secondary-button:hover {
        background: var(--gradient-color);
        color: whitesmoke;
        box-shadow: var(--box-shadow);
    }

    p.paragraph {
        color: var(--text-color);
     
    }